# Python

In [1]:
2//2

1

In [2]:
2*3/2

3.0

In [3]:
type(2)

int

In [4]:
type(True)

bool

In [5]:
2==2

True

In [6]:
type('Ganesh')

str

In [7]:
type("Ganesh")

str

In [8]:
a=100.0
type(a)

float

In [9]:
print("Hello")

Hello

In [10]:
10**2

100

# Julia

In [1]:
1+2

3

In [2]:
4*5

20

In [3]:
2/3

0.6666666666666666

In [4]:
2//3

2//3

In [5]:
2*3/2

3.0

In [6]:
3/2

1.5

In [7]:
typeof(2)

Int64

In [8]:
typeof('c')

Char

In [9]:
10%2

0

In [10]:
10%3

1

In [11]:
(3*5)+(6*4)

39

In [12]:
typeof([1,2,3])

Array{Int64,1}

In [13]:
typeof(true)

Bool

In [14]:
true

true

In [15]:
2==3

false

In [16]:
10**2

LoadError: syntax: use "x^y" instead of "x**y" for exponentiation, and "x..." instead of "**x" for splatting.

In [17]:
10^2

100

In [19]:
str1="Ganesh"
str2="Atmuri"
print(str1,str2)

GaneshAtmuri

In [20]:
typeof(str1)

String

In [22]:
a1=100
string(a1)

"100"

In [25]:
print(a1)

100

In [26]:
typeof(a1)

Int64

In [28]:
string(str1,17,true)

"Ganesh17true"

In [31]:
string(str1," ",str2," ",17,"may")

"Ganesh Atmuri 17may"

In [33]:
age=22

22

In [34]:
print("My name is $str1, last name is $str2 and my age is $age")

My name is Ganesh, last name is Atmuri and my age is 22

In [35]:
dobyear=1998

1998

In [38]:
print("My name is $str1, last name is $str2 and my age is $(2020-dobyear)")

My name is Ganesh, last name is Atmuri and my age is 22

In [40]:
#=multi 
line 
commenting=#

In [41]:
str="""
hello ganesh
how are you
"""

"hello ganesh\nhow are you\n"

In [42]:
"""hello this is "ganesh", how about you?"""

"hello this is \"ganesh\", how about you?"